.about-image {
    width: 50%;
    height: 100%;
    border-radius: 1vw;
    aspect-ratio: 4 / 6;
}

@media screen and (max-width: 600px) {
    .expertiso-image {
        width: 100%;
    }  
    .HeadFeedback-image {
        width: 100%;
        transform: rotate(15deg);
    }
}

@media screen and (min-width: 600px) {
    .expertiso-image {
        width: 100%;
    }  
    .HeadFeedback-image {
        width: 100%;
        transform: rotate(23deg);
    }
}